name: DevSecOps Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  security-scan:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Start Target App
      env:
        # STEP 1: We start with FALSE to prove the scanner works (It should FAIL)
        SECURE_MODE: 'TRUE' 
      run: |
        # Start app in background and log output
        nohup python target_app.py > app.log 2>&1 &
        echo "Starting app..."
        # Increased sleep to 10 seconds to prevent "Connection Refused" errors
        sleep 10 

    - name: Run OWASP Header Scan
      run: |
        # If this fails, we print the app log to see why it crashed
        python scanner.py http://127.0.0.1:5000 || (echo "--- APP LOGS ---" && cat app.log && exit 1)

    - name: Upload Security Report
      if: always()
      uses: actions/upload-artifact@v3
      with:
        name: security-scan-report
        path: scan_report.json
