name: DevSecOps Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  security-scan:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Start Target App (Vulnerable Mode)
      env:
        # We start with TRUE so the first run passes!
        SECURE_MODE: 'TRUE' 
      run: |
        nohup python target_app.py > app.log 2>&1 &
        echo "Waiting for app to start..."
        sleep 5 

    - name: Run OWASP Header Scan
      run: |
        python scanner.py http://127.0.0.1:5000

    - name: Upload Security Report
      if: always()
      uses: actions/upload-artifact@v3
      with:
        name: security-scan-report
        path: scan_report.json
